# Generic .gitignore for typical programming languages

# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
env/
venv/
.venv/
*.pyo
*.pyd
*.db
*.sqlite3

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
.DS_Store

# IDEs
.vscode/
.idea/
*.swp

# OS files
Thumbs.db
.DS_Store

# Others
*.log
